@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  background: #0D1520 !important;
}

.band-page-content {
  background: #0D1520 !important;
}

h1.band-name {
  color: #FFFFFF;
  font-family: "Teko", sans-serif !important;
  font-weight: normal;
  font-size: 70px;
  letter-spacing: 9px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}

h6.video-card-title {
  color: #FFFFFF !important;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.social-link-icon {
  color: #EF2E56 !important;
}


