@font-face {
    font-family: 'WorkSans';
    src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
         url('fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersCondensed';
    src: url('fonts/FoundersGroteskCondensed.woff2') format('woff2'),
         url('fonts/FoundersGroteskCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome.woff2') format('woff2'),
         url('fonts/fontawesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.band-name {
}

.band-videos {
  margin: 0 !important;
}

.band-video {
  padding: 0;
}

.band-socials-content {
  justify-content: space-around !important;
  padding-bottom: 3rem;
}

.social-link {
  height: initial;
  width: initial;
}

.social-link svg {
  fill: #1F439B !important;
}

.social-link-button {
  display: none !important;
}

.video-card-title {
  color: #333333 !important;
  font-family: "WorkSans", Helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

/* SXSW Page Hacks */

.artist-name {
  margin-bottom: 60px;
}