@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLT-Roman.eot');
    src: url('fonts/AvenirLT-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLT-Roman.woff') format('woff'),
        url('fonts/AvenirLT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background: white !important;
}

.band-page-content {
  background: white !important;
}

.mz--embed__modal-background {
  background: rgba(255,255,255,.8) !important;
}

h1.band-name {
	color: #000000 !important;
	font-family: 'Avenir' !important;
	font-size: 56px;
	line-height: 0px !important;
  padding: 50px 0 20px 0 !important;
}

h6.video-card-title {
  color: #000000 !important;
  font-family: 'Avenir' !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.social-link-icon {
  height: 50px;
  color: #00A0E2 !important;
  border-radius: 50em;
  background: white;
  width: 50px;
  padding: 13px;
}


