body {
  font-family: "Inter", inter, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  padding: 20px;
  background-color: #fff;
  /* border-bottom: 1px solid #ddd; */
}
.MuzookaEmbedContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.MuzookaEmbed {
  width: 100%;
  height: 100%;
}

.chart-list {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.chart-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.chart-list li a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}

.chart-list li a:hover {
  text-decoration: underline;
}
