@font-face {
    font-family: 'pf_dintext_pro';
    src: url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-light-webfont.woff2') format('woff2'),
         url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'pf_dintext_pro';
    src: url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-regular-webfont.woff2') format('woff2'),
         url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'pf_dintext_pro';
    src: url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-medium-webfont.woff2') format('woff2'),
         url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'pf_dintext_pro';
    src: url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-bold-webfont.woff2') format('woff2'),
         url('https://d3lxix2ia4mrrg.cloudfront.net/caa/pfdintextpro-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.band-page {
  font-family: 'pf_dintext_pro';
  background: transparent !important;
}

.band-video {
  max-width: 50% !important;
}

.band-socials {
  margin: 30px 16px !important;
}

.band-socials-content {
  justify-content: left !important;
  padding-bottom: 3rem;
}

.social-link {
  height: 40px;
  width: 40px;
  background: rgba(255,255,255,.2);
  border-radius: 50em;
  margin-right: 20px;
  margin-top: 0;
  display: inline-block;
}

.social-icon {
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}

.social-link svg {
  fill: #FFF !important;
}

.social-link-button {
  display: none !important;
}

.band-page-header {
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.band-name {
  position: absolute;
  top: -267px;
  color: white !important;
  font-family: 'pf_dintext_pro' !important;
  font-weight: 500 !important;
  font-size: 56px !important;
  line-height: 72px !important;
  left: 0;
  right: 0;
  padding-left: 50px;
  width: 100%;
  text-align: left !important;
  margin: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
  padding-top: 140px;
}

.band-videos {
  margin: 0 -40px !important;
}

.band-video {
  padding: 0 40px !important;
}

.video-card-title {
  color: #FFFFFF !important;
  font-family: 'pf_dintext_pro' !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}
