/*
@font-face {
    font-family: 'WorkSans';
    src: url('fonts/WorkSans-Regular.woff2') format('woff2'),
         url('fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersCondensed';
    src: url('fonts/FoundersGroteskCondensed.woff2') format('woff2'),
         url('fonts/FoundersGroteskCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome.woff2') format('woff2'),
         url('fonts/fontawesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

.band-video {
  max-width: 50% !important;
}

.social-link svg {
  fill: #4F4F4F !important;
}

.band-name {
  color: #016BB7 !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 600 !important;
  font-size: 54px !important;
  line-height: auto !important;
  text-transform: uppercase !important;
}

.video-card-title {
  color: #4F4F4F !important;
  font-family: Helvetica,Arial,sans-serif !important;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 20px !important;
}
