@font-face {
  font-family: 'impact';
  font-style: normal;
  src: url('https://d3lxix2ia4mrrg.cloudfront.net/bootsandhearts-2019/fonts/impact.eot');
  src: url('https://d3lxix2ia4mrrg.cloudfront.net/bootsandhearts-2019/fonts/impact.eot') format('embedded-opentype'),
    url('https://d3lxix2ia4mrrg.cloudfront.net/bootsandhearts-2019/fonts/impact.woff') format('woff');
}

body {
  background-color: #BC3F26;
  border: 4px solid #FFFFFF;
}

.band-page {
  background-color: #BC3F26;
  border: 4px solid #FFFFFF;
}

.band-page .row:first-child {
  margin: 0;
}

.band-name {
  color: #FFFFFF;
  font-family: Impact;
  font-size: 63px;
  line-height: 77px;
  text-align: center;
  text-transform: uppercase;
}

.video-card-title {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.band-page-header {
  margin: 1rem !important;
}

.band-video {
  max-width: 50% !important;
}

.band-videos {
  margin: 1rem 2rem !important;
}

.band-socials-content {
  justify-content: space-around !important;
  padding-bottom: 3rem;
}

.social-link {
  height: initial;
  width: initial;
}

.social-link svg {
  fill: #fff !important;
  width: 26px;
}
