body {
  background: white !important;
}

.band-page-content {
  background: white !important;
}

h1.band-name {
	color: #000000 !important;
  font-family: 'Londrina Solid', cursive !important;
	font-size: 56px;
	line-height: 0px !important;
  padding: 50px 0 20px 0 !important;
}

h6.video-card-title {
  color: #000000 !important;
  font-family: 'Londrina Solid', cursive !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.social-link-icon {
  height: 50px;
  color: #00A0E2 !important;
  border-radius: 50em;
  background: white;
  width: 50px;
  padding: 13px;
}


