@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

body {
  background: white !important;
}

.mz--embed__modal-background {
  background: #1B92A6 !important;
  opacity: .9 !important;
}

.band-page-content {
  background: white !important;
}

h1.band-name {
	color: #1B92A6 !important;
  font-family: 'Londrina Solid', sans-serif !important;
	font-size: 56px;
	line-height: 0px !important;
  padding: 20px 0 !important;
  text-transform: uppercase;
}

h6.video-card-title {
  color: #F04D4E !important;
  font-family: 'Londrina Solid', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.social-link-icon {
  height: 50px;
  color: #1B92A6 !important;
  border-radius: 50em;
  background: white;
  width: 50px;
  padding: 13px;
}